/* Navbar.module.css */
.navbar {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(22, 27, 34, 0.8); /* Warna latar belakang dengan opacity 0.8 */
  backdrop-filter: blur(10px); /* Efek blur dengan radius 10px */
  z-index: 1000;
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); */
  width: 80%;
  max-width: 1000px;
  height: 55px;
}


.particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.navContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.navListContainer {
  flex-grow: 1;
  text-align: center;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navItem {
  cursor: pointer;
}

.navLink {
  color: #c9d1d9;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navBrand, .navCV {
  color: #c9d1d9;
  font-size: 1rem;
}

.navBrand {
  margin-right: auto;
}

.navCV {
  margin-left: auto;
}


.cvLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.cvLink:hover .downloadIcon {
  opacity: 1;
}

.downloadIcon {
  margin-left: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.navLink:hover {
  color: #58a6ff;
}

.main {
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}

.section {
 padding: 2rem 1rem; 
  max-width: 1100px; 
  margin: 0 auto; 
}


.hi {
  margin-top: 50px !important;
  font-size: 2.2rem;
  margin-bottom: 2rem;
  color: #58a6ff;
  text-align: left;
  margin: 0 auto; 
  max-width: 950px; 
}

.intro {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #fff;
  text-align: left;
  max-width: 950px; 
  margin: 0 auto; 
}
.azis{
  background: linear-gradient(to right, #58a6ff, #2e66ff);
  -webkit-background-clip: text;
  background-clip: text; /* Standard property */
  -webkit-text-fill-color: transparent; /* For WebKit browsers */
}
.student{
  text-align: left;
  max-width: 950px; 
  margin: 0 auto; 
  margin-top: 10px;
  font-size: 1.2rem;
  /* margin-bottom: 2rem; */
}
.si{
  text-decoration: underline;
  text-decoration-color: #58a6ff;
  text-decoration-style: dotted;
  text-underline-offset: 7px;
}

.contact{
  /* text-decoration: underline; */
  color: #58a6ff;
  /* text-decoration-color: #fff;
  text-decoration-style: dotted;
  text-underline-offset: 7px; */
}
.socmedList {
  display: flex;
  justify-content: left; /* Pusatkan daftar */
  align-items: left;
  list-style: none;
  padding: 0;
  margin-top: 1rem; 
  text-align: left;
  max-width: 950px; 
  margin: 0 auto; 
  font-size: 1.2rem;
  margin-bottom: 100px;
}

.socmedItem {
  display: flex;
  align-items: center;
  margin: 0 1rem; /* Jarak antara item socmed */
}

.socmedLink {
  text-decoration: none;
  color: inherit; /* Warna teks mengikuti elemen induk */
}

.socmedLogo {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.socmedName {
  font-size: 1.2rem;
  margin-left: 5px;
}

.profildesc{
  max-width: 950px; 
  margin: 0 auto; 
  margin-top: 1rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: left;
}

.sectionTitle {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #58a6ff;
}

.sectionContent {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  width: 60%;
  margin: 0 auto;
}

.category {
  font-size: 1.4rem;
  margin-bottom: 1rem !important;
  color: #58a6ff;
  text-align: left;
  margin: 0 auto; 
  max-width: 1200px; 
}

.projectRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.hidden {
  display: none;
}

.projectList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.projectItem {
  background-color: #161b22;
  padding: 2rem;
  border-radius: 10px;
  width: 100%; /* Item akan menempati 100% lebar pada layar mobile */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .projectItem {
    width: calc(50% - 10px); /* Untuk 2 item per baris pada layar tablet, dikurangi gap */
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .projectItem {
    width: calc(33.333% - 20px); /* Untuk 3 item per baris pada layar desktop, dikurangi gap */
    margin-bottom: 0;
  }
}

.projectItem:hover {
  transform: scale(1.05);
  box-shadow: 0px 1px 2px 3px rgba(88, 166, 255, 0.75);
  -webkit-box-shadow: 0px 1px 2px 3px rgba(88, 166, 255, 0.75);
  -moz-box-shadow: 0px 1px 2px 3px rgba(88, 166, 255, 0.75);
  background: linear-gradient(#161b22, #161b22) padding-box,
              linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
}

.projectImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.projectImageML {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.projectTitle {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #58a6ff;
  text-align: left;
}

.projectDescription {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
}

.technologyStack {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.techLogo {
  height: 30px;
}


.contactContent {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}

.textContent {
  flex: 1;
  max-width: 50%;
}
.formContainer {
  width: 400px;
  background: linear-gradient(#161b22, #161b22) padding-box,
            linear-gradient(145deg, transparent 35%, #58a6ff) border-box; border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.formContainer button:active {
  scale: 0.95;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.formGroup input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.formGroup textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.formGroup input::placeholder {
  opacity: 0.5;
}

.formGroup input:focus {
  outline: none;
  border-color: #58a6ff;
}

.formGroup textarea:focus {
  outline: none;
  border-color: #58a6ff;
}

.formSubmitBtn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.formSubmitBtn:hover {
  background-color: #fff;
  border-color: #fff;
}
